  * {
    box-sizing: border-box;
  }

  body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes rotate {
    100%{
        background-position: 15% 50%;
    }
  }

  body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("./background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Questrial", sans-serif;
    color: #000;
    animation: rotate 3s infinite alternate linear;
    height: 100%;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  @media (width >= 500px) {
    body {
      padding: 0;
    }
  }

  .login-card {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
  }
  
  @media (width >= 500px) {
    .login-card {
      margin: 0;
      width: 400px;
    }
  }

  #h2text {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
  }
  
  #h3text {
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
  }
  
  .login-form > input,
  .btn-guardar {
    width: 100%;
    height: 56px;
  }
  
  .login-form > input {
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 16px;
    padding: 0 16px;
  }
  
  .btn-guardar {
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #297EA6;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
  }
  .btn-guardar:hover{
    background: #00101C;
  }
